@{
    ViewData["Title"] = "About";
}
<div class="col-md-4">
    <form>
        <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
        <address>
            <strong>ATapplianceServiceInc</strong><br />
            12664 Chapman Ave. #1113<br />
            Garden Grove, CA 92840<br />
            <abbr title="Phone">P:</abbr>
            (714)234-6070
        </address>
        @*<address>
                <a href="mailto:andyhammer@gmail.com">andyhammer@gmail.com</a><br />
            </address>*@
    </form>
</div>
