<!DOCTYPE html>
<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <title>ContactUs</title>
</head>

<body>
    <!------ Include the above in your HEAD tag ---------->
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="login-panel panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Schedule Appointment Alert</h3>
                            </div>
                            <div class="panel-body">
                                <section>
                                    <form>
                                        <div class="form-group">
                                            First Name: {FirstName} Last Name: {LastName}
                                        </div>
                                        <div class="form-group">
                                            Phone: {Phone} Email: {Email}
                                        </div>
                                        <div class="form-group">
                                            Address: {Address} 
                                        </div>
                                        <div class="form-group">
                                            City: {City}  State: {State}  Postal Code: {PostalCode}
                                        </div>
                                        <div class="form-group">
                                            Desired Schedule Date/Time: {DesiredScheduleTime}
                                        </div>
                                        <div class="form-group">
                                            Model Number: {ModelNumber}  Model Serial: {ModelSerial}
                                        </div>
                                        <div class="form-group">
                                            Porblem (brief): {Problem}
                                        </div>
                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>